.btnJouer{
  padding: 15px 30px;

  border-radius: 15px;

  outline: none;

  &:hover, &:focus{
    border: 2px solid grey;
  }

  &:active{
    border: 2px solid;
    box-shadow: inset 3px 3px 10px rgba(0,0,0,0.3);
  }


}